<div>
    <app-ultialerta></app-ultialerta>
    <mat-tab-group (selectedTabChange)="cambio($event)" class="demo-tab-group">
        <mat-tab label="Monitoreo">
            <div class="row">
                <div class="col-sm-1" style="padding: 0;">
                    <button (click)="openDialog()" mat-raised-button color="warn" matTooltip="Nuevo Caso!">Registro</button>
                    <button mat-raised-button matTooltip="Waze" matTooltipShowDelay="500"><img src="/assets/img/waze.png" width="50" alt="waze icon"></button>
                    <button mat-raised-button matTooltip="Marcador"><img src="/assets/img/markergreen.png" width="50" alt="waze icon"></button>
                    <button mat-raised-button matTooltip="Base de Policia"><img src="/assets/img/basepoli.png" width="50" alt="waze icon"></button>
                    <button mat-raised-button matTooltip="Policia Transito"><img src="/assets/img/transito.png" width="50" alt="waze icon"></button>
                    <button mat-raised-button matTooltip="Serenazgo"><img src="/assets/img/serenazgo.png" width="50" alt="waze icon"></button>
                    <button mat-raised-button matTooltip="Motocicleta Policia"><img src="/assets/img/moto.png" width="50" alt="waze icon"></button>
                    <button mat-raised-button matTooltip="Patrullero Policia"><img src="/assets/img/camioneta.png" width="50" alt="waze icon"></button>
                    <button mat-raised-button matTooltip="Ambulancia"><img src="/assets/img/ambulancia.png" width="50" alt="waze icon"></button>
                </div>
                <div class="col-sm-11" style="padding: 0;">
                    <div class="home-map">
                        <app-mapa [lat]="municipalidad.ubicacion.latitud" [lng]="municipalidad.ubicacion.longitud" [controls]="controlsMap" (idle)="idleFunction()" #mapa></app-mapa>
                        <!--
                        <agm-map #mapMonitoreo [zoom]="13" [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>-->
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Unidades">
            <div class="home-map">
                <agm-map #mapUnidades [zoom]="13" [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </mat-tab>
        <mat-tab label="Incidentes">
            <div>
                Incidentes
            </div>
        </mat-tab>
        <mat-tab label="Estadisticas">
            <div>
                <app-estadisticas></app-estadisticas>
            </div>
        </mat-tab>
    </mat-tab-group>
    <app-chat></app-chat>
</div>