<div>
    <div>
      <div>
            <mat-form-field class="full-width">
              <input matInput [disabled] = "!controls" placeholder="Nombre de entidad..." [(ngModel)]="municipalidad.nombre">
            </mat-form-field>
          
            <mat-form-field class="full-width">
                <mat-select  [disabled] = "!controls" placeholder="Tipo de entidad" [(ngModel)]="municipalidad.idTipoComiMuni">
                        <mat-option  *ngFor='let tipo of tiposMuni'  [value]="tipo.idTipoMuni">{{tipo.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
          <div class="inline" *ngIf="false">
              <div class="input-search-muni full-width">
                  <mat-form-field class="full-width">
                      <input matInput [disabled] = "!controls"  [readonly]="true"  placeholder="Buscar jurisdiccion..." [(ngModel)]="jurisdiccion.nombre">
                  </mat-form-field>
              </div>
              <div>
                  <button [disabled] = "!controls"  mat-mini-fab color="primary" (click)="abrirModalBuscarJurisdiccion()">
                      <mat-icon aria-label="Search icon">&#xE8B6;</mat-icon>
                  </button>
              </div>
              <div>
                  <button [disabled] = "!controls"  mat-mini-fab color="primary" (click)="abrirModalFormularioJurisdicion()">
                      <mat-icon aria-label="Search icon">&#xE145;</mat-icon>
                  </button>
                </div>
          </div>
          <div>
            <div class="muni">

                <button id="editPos" [disabled] = "!controls"  mat-raised-button class="control-mapa" (click)="editarUbicacion = ! editarUbicacion">
                    <span *ngIf="!editarUbicacion">Ubicacion</span>
                    <span *ngIf="editarUbicacion">Establecer</span>
                </button>
                <button id="editJuris" [disabled] = "!controls || editarUbicacion"  mat-raised-button class="control-mapa" (click)="dibujarJurisdiccion()">
                    Dibujar jurisdiccion
                </button>
                <app-mapa [lat]="municipalidad.ubicacion.latitud" 
                          [lng]="municipalidad.ubicacion.longitud" 
                          [controls] = "controlsMap"
                          (idle)="idleFunction($event)" #mapa></app-mapa>
                <div [ngClass]="{'markerCenter': editarUbicacion}"></div>
              </div>
          </div>
      </div>
      
    </div>
  </div>