<button mat-icon-button>
    <mat-icon aria-label="Search icon">&#xE045;</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon aria-label="Search icon">&#xE020;</mat-icon>
</button>

<label class="etiqueta-navegacion">Página</label>&nbsp;
<input  class="input-navegacion" (keyup)="$event.keyCode == 13 && filtrar()">&nbsp;
<label class="etiqueta-navegacion">/ 10</label>

<button mat-icon-button>
    <mat-icon aria-label="Search icon">&#xE01F;</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon aria-label="Search icon">&#xE044;</mat-icon>
</button>