<!--Chat-->


<div id="chatbox_johndoe" class="chatbox" [ngStyle]="{'width.px': tam_chat, 'backgroundColor':'white'}">
    <div class="chatboxhead">
        <div class="chatboxtitle">Alertas</div>
        <div class="chatboxoptions">
            <a>+</a>
            <a (click)="minimizarChat()">-</a>
        </div><br clear="all">
    </div>
    <!--If para Ocultar o minimiizar el chat-->
    <div *ngIf="flagChat">
        <div class="chatboxcontent">            
            <div class="col" style="padding-left:10px;padding-right: 5px;">
                <mat-tab-group>
                    <mat-tab label="Mensajes">
                        <div class="chatboxmensajes" style="height: 250px;">
                            <mat-list style="padding-top: 0px;">
                                <mat-list-item *ngFor="let msg of mensajes" style="height: 50px; cursor: pointer;" (click)="elegirMensaje(msg)">
                                    <h4 mat-line>{{msg.usuario}}</h4>
                                    <p mat-line>{{msg.ultimo_mensaje.text | slice:0:10 }}.. : {{msg.ultimo_mensaje.hora}}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-tab>
                </mat-tab-group>              
            </div>
        </div>
    </div>
</div>