html,
body {
    height: 100%;
    min-height: 500px;
    margin: 0;
    padding: 0;
}
.right{
    float: right;
}
.markerCenter{
    position:absolute;
    /*url of the marker*/
    background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    top: calc(50% - 30px);
    left:50%;
    z-index:1;
    /*fix offset when needed*/
    margin-left:-10px;
    margin-top:-34px;
    /*size of the image*/
    height:34px;
    width:20px;
    cursor:pointer;
}
.muni{
    position: relative;
}
.muni agm-map{
    height: 300px;
}
.muni .markerCenter{
    margin-top: 0 !important;
}

.home-map agm-map {
    height: 700px;
}
.sector-mapa agm-map {
    height: 400px;
    opacity: 0;
    display: none;
}
.mapa-nuevo-caso agm-map {
    height: 300px;
}
.text-center{
    text-align: center;
}
.full-width{
    width: 100% !important;
}
.float-buttons{
    position: fixed;
    right: 0;
    width: 45px;
    top: 30px;
}
.float-buttons button{
    margin-bottom: 10px;
}
.mat-tab-label {
    width: 25%;
}
.mitad-section{
    width: 50%;
    padding: 55px
}
.buscador{
    width: 80%;
}
@media (max-width: 960px){
    .mitad-section{
        width: 100%;
        padding: 10px;
        padding-right: 45px;
    }
    .full-width.flex{
        display: block;
    }
    .buscador{
        max-height: unset!important;
        max-width: 100% !important;;
        width: 100% !important;
        height: 100% !important;
        
    }
}
.flex{
    display: flex;
    display: -webkit-flex;
}
mat-header-row{
    min-height: 40px !important;
}
mat-header-row .mat-header-cell{
    color: #FFF !important;
}
.azul{
    background: #3f51b5 !important;
    color: #FFF !important; 
}
.inline{
    display: flex;
}
.inline > div{
    display: inline-block;
}
.text-center{
    text-align: center;
}
.mat-raised-button{
    margin: 5px !important;
}

.gmaps-label {
    position: absolute;
    border: 0;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 17px;
    text-shadow:
            -1px -1px 0.5px rgba(0,0,0,0.5),
            1px -1px 0.5px rgba(0,0,0,0.5),
            -1px 1px 0.5px rgba(0,0,0,0.5),
            1px 1px 0.5px rgba(0,0,0,0.5);
}

.gmaps-label.small {
    font-size: 14px;
}

.gmaps-label.big {
    font-size: 22px;
    color: yellow;
}

.gmaps-label.huge {
    color: white;
    font-size: 30px;
    text-shadow:
            -1.5px -1.5px 0.5px rgba(0,0,0,0.5),
            1.5px -1.5px 0.5px rgba(0,0,0,0.5),
            -1.5px 1.5px 0.5px rgba(0,0,0,0.5),
            1.5px 1.5px 0.5px rgba(0,0,0,0.5);
}
.inline{
    padding: 15px 0;
}