.leyenda-mapa{
  position: absolute;
  width: 250px;
  height: 500px;
  top: 49px;
  background: #fff;
  z-index: 1;
}
.leyenda-mapa button{
  display: block;
  width: 100%;
  font-size: 23px;
  text-align: left;
  padding: 10px 15px;
}
.leyenda-mapa img{
  width: 40px;
  top: -2px;
  position: relative;
  left: -5px;
}
.btn-nuevo-caso{
  position: absolute;
  top: 0;
  right: -150px;
}
